<div class="shape">
  <h2>Input the edge of triangle!</h2>
  <div class="shape__form">
    <div class="shape__form-group">
      <label for="shape_bottom_adge">Bottom Edge: </label>
      <input id="shape_bottom_adge" [(ngModel)]="bottomEdge">
    </div>
    <div class="shape__form-group">
      <label for="shape_height">Height: </label>
      <input id="shape_height" [(ngModel)]="height">
    </div>
    <div class="shape__form-group">
      <div class="shape__resultt">Your Acreage: {{acreage}}</div>
    </div>
    <button type="button" class="shape__form-submit" (click)="onSubmit()">OK</button>
  </div>
</div>
