.main-title {
  display: block;
  text-align: center;
  margin-bottom: 2rem;
}

.menu {
  text-align: center;
  &-link {
    background: rebeccapurple;
    padding: .8rem 1rem;
    color: whitesmoke;
    border: 0;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      background: violet;
    }
  }
}
